$heading-font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: $heading-font-family
$color-accent: #002fa7

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: none

$h1-size-desktop: pxToRem(100)
$h1-line-height: 0.9
$h1-text-transform: lowercase
$h2-text-transform: lowercase
$h3-text-transform: lowercase
$h4-text-transform: lowercase
$h5-text-transform: lowercase
$h6-text-transform: lowercase

$body-letter-spacing: -0.05em
$h1-letter-spacing: $body-letter-spacing
$h2-letter-spacing: $body-letter-spacing
$h3-letter-spacing: $body-letter-spacing
$h4-letter-spacing: $body-letter-spacing
$h5-letter-spacing: $body-letter-spacing
$h6-letter-spacing: $body-letter-spacing
$meta-letter-spacing: $body-letter-spacing
$lead-letter-spacing: $body-letter-spacing
$lead-sidebar-letter-spacing: $body-letter-spacing
$lead-hero-letter-spacing: $body-letter-spacing
$lead-hero-size-desktop: pxToRem(18)
$small-letter-spacing: $body-letter-spacing
$signature-letter-spacing: $body-letter-spacing
$quote-letter-spacing: $body-letter-spacing

$footer-background-color: black
$footer-color: white

$grid-gutter-lg: pxToRem(30)
$grid-gutter-xxl: pxToRem(30)
