h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
    text-transform: lowercase

body
    letter-spacing: -0.05em

.hero
    @include media-breakpoint-up(desktop)
        .content
            
        .hero-text
            margin-top: 0 !important
            width: columns(6) !important
        .hero-image
            order: -1
            padding-top: 0.7em
            // width: initial !important
            width: columns(6) !important
            margin-left: var(--grid-gutter-negative)
            margin-right: var(--grid-gutter-negative)
