h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
    text-transform: lowercase

body
    letter-spacing: -0.05em
.page__home
    .hero
        display: none
    @include media-breakpoint-up(desktop)
        padding-top: space(16)
.posts__page
    @include media-breakpoint-up(desktop)
        .hero
            padding-top: 0
.hero
    @include media-breakpoint-up(desktop)
        .content
            align-items: end
            padding-top: 0
            .hero-text
                margin-top: 0 !important
                width: columns(5) !important
            .hero-image
                order: -1
                width: offset(7) !important
                margin-left: var(--grid-gutter-negative)
                margin-right: var(--grid-gutter-negative)

.breadcrumb-nav
    ol
        justify-content: center

.block-posts--large
    .post
        .post-title,
        .post-subtitle
            font-weight: bold !important
            line-height: 90% !important
        @include media-breakpoint-up(desktop)
            align-items: end